@import url('https://fonts.googleapis.com/css?family=Merriweather|Comfortaa:wght@500');

html {
    font-size: 100%;
}

main {
    padding: 1.4rem 0.6rem;
    background-color: #fff;
}

body {
    line-height: 1.4;
}

h1 {
    margin-top: 0;
    font-family: 'Comfortaa', cursive;
    font-size: 3rem;
    margin-bottom: 2.8rem;
    color: #000;
    text-shadow: 3px 3px #a2bf63;
}

h3,
h4 {
    margin-top: 0;
    font-family: 'Merriweather', sans-serif;
}

h2 {
    margin-top: 0;
    font-family: 'Comfortaa', cursive;
    font-size: 2.4rem;
    margin-bottom: 1.4rem;
    background-color: #2e5902;
    color: white;
    padding: 20px;
    width: 300px;
}

h3 {
    font-size: 1.7rem;
    margin-bottom: 0;
}

h4 {
    font-size: 1.2rem;
    margin-bottom: 0;
}

h5 {
    font-size: 1.1rem;
    margin-bottom: 1.1rem;
}

p {
    margin-top: 0;
    font-family: 'Merriweather', serif;
    margin-bottom: 1.4rem;
    font-size: 1rem;
}

form {
    display: block;
}

.inputf {
    font-size: 1.8rem;
    margin-bottom: 30px;
    margin-top: 30px;
    border-radius: 5px;
}

.button {
    font-size: 1.8rem;
    background-color: #a2bf63;
    border-radius: 5px;
    padding: 10px;
    margin: 3px;
}
